
{{>admin-nav}}

{{#if alert}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>Edit Car Details</h4>
          <a href="/admin/dashboard" class="btn btn-danger float-end">Back</a>
        </div>
        <div class="card-body">
            {{#each rows}}
          <form
            class="row g-3 needs-validation"
            autocomplete="off"
            ,
            method="post"
            ,
            action="/admin/editcars/{{this.car_id}}"
            ,
            enctype="multipart/form-data"
          >
          
            <div class="mb-3 col-6">
              <label for="carCompany" class="form-label">Company</label>
              <input
                type="text"
                name="company"
                class="form-control"
                id="carCompany"
                placeholder="Enter Car Company"
                value="{{this.company}}"
              />
            </div>
            <div class="mb-3 col-6">
              <label for="carModel" class="form-label">Model</label>
              <input
                type="text"
                name="model"
                class="form-control"
                id="carModel"
                placeholder="Enter Car Model"
                value="{{this.model}}"
              />
            </div>

            <div class="mb-3 col-6">
              <label for="carTransmission" class="form-label">Transmission Type</label>
              <input
                type="text"
                name="transmission"
                class="form-control"
                id="carTransmission"
                placeholder="Automatic/Manual.etc"
                value="{{this.transmission}}"
              />
            </div>

            <div class="mb-3 col-6">
              <label for="carSeatingCapacity" class="form-label">Seating
                Capacity</label>
              <input
                type="text"
                name="seating_capacity"
                class="form-control"
                id="carSeatingCapacity"
                placeholder="Enter Seating Capacity"
                value="{{this.seating_capacity}}"
              />
            </div>

            <div class="mb-3 col-6">
              <label for="carFuelType" class="form-label">Fuel Type</label>
              <input
                type="text"
                name="fuel"
                class="form-control"
                id="carFuelType"
                placeholder="Petrol/Diesel.etc"
                value="{{this.fuel}}"
              />
            </div>

            <div class="mb-3 col-6">
              <label for="carMilage" class="form-label">Milage</label>
              <input
                type="text"
                name="milage"
                class="form-control"
                id="carMilage"
                placeholder="Enter Milage in kmpl"
                value="{{this.milage}}"
              />
            </div>

            <div class="mb-3 col-6">
              <label for="carPrice" class="form-label">Price</label>
              <input
                type="text"
                name="price"
                class="form-control"
                id="carPrice"
                placeholder="Enter Price"
                value="{{this.price}}"
              />
            </div>

          

            <button type="submit" class="btn btn-primary">Save</button>
            
          </form>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>