{{>user-nav
}}

<h2 class="h1-responsive font-weight-bold text-center my-3">
    Welcome back,{{user}}
  </h2>


<div class="container pt-3 pb-5" >
<div class="row">
    <div class="col-6"><h5>Book Now</h5></div>
</div>

    <table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Company</th>
      <th scope="col">Model</th>
      <th scope="col">Transmission</th>
      <th scope="col">Seating Capacity</th>
      <th scope="col">Fuel</th>
      <th scope="col">Milage</th>
      <th scope="col">Price</th>
      <th scope="col" class="text-end">Action</th>
      
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.car_id}}</th>
      <td><img src="/{{this.image}}" style="height: 75px; width:75px"  alt="carimage"></td>
      <td>{{this.company}}</td>
      <td>{{this.model}}</td>
      <td>{{this.transmission}}</td>
      <td>{{this.seating_capacity}}</td>
      <td>{{this.fuel}}</td>
      <td>{{this.milage}}</td>
      <td>{{this.price}}</td>
      <td class="text-end">  
      
        <a href="/user/testdrive/{{this.car_id}}" type="button" class ="btn btn-Success btn-small"><i class="bi bi-car-front-fill"></i>Book-Test-Drive</a>
       
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>